main{.
       width: 100;
       background:linear-gradient(to top, rgba(145, 16, 16, 0) 50%, rgba(0,0,0,0) 50%,) url();
       background-position: center;
       background-size: cover;
       height: 100vh;
}
  
   body {
    font-family: sans-serif;
      margin: 0;
      padding-top: ; 
      background-color: #f4f4f4;
   }

    header {
      background-color: #2e2b35f8;
      color: white;
      padding: 2rem 1rem;
      text-align: center;
      position: sticky;
    }
      
     @supports (position: sticky;) {
      .header {
        position: -webkit-sticky; /* for safari */
        position: sticky;
        top: 0;
      }
  
     }

    nav a {
      margin: 0 1rem;
      color: rgb(236, 233, 233);
      text-decoration: none;
    }

    section {
      padding: 3rem 1rem;
      max-width: 900px;
      margin: auto;
    }


    
    .about, .projects, .contact {
     background-color: #5d8a9771;
      margin: 2rem 0;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      container: center;
    }

    .project-item {
      margin-bottom: 1.5rem;
    }

    footer {
      text-align: center;
      padding: 2rem;
      background-color: #2c3e50;
      color: white;
    }

    @media (max-width: 600px) {
      nav a {
        display: block;
        margin: 0.5rem 0;
      }
    }
    
    .sticky{
      position: sticky;
      top: 0%;
    }